.div {
    min-height: 90vh;
    background: url("https://us.123rf.com/450wm/marinamandarina/marinamandarina1611/marinamandarina161100010/65349028-sin-patr%C3%B3n-con-diferentes-tipos-de-utensilios-de-cocina-puede-ser-utilizado-para-las-industrias-text.jpg?ver=6");
    display: flex;
    justify-content: center;
    align-items: center;
    }

.detalle{
    width: 75%;
    height: 100%;
    background-color:rgba(3, 35, 54, 0.826);
    border-radius: 15px;
    box-shadow: 0 10px 10px #000;
    flex-wrap: wrap;
}

.nombre{
    color: white;
}

.h2{
    color: red;
    
}

.span {
    color:white
}

